In [9]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import numpy as np
import pandas_datareader.data as web

In [14]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
from datetime import date, timedelta, datetime
from time import sleep
# 08112015
import pytz

In [42]:
s_p_500=pd.read_html('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies', attrs={"class":'wikitable sortable'}, header=0)[0]
s_p_500.columns = [x.strip().replace(' ', '_') for x in s_p_500.columns]
industries=s_p_500.GICS_Sector.unique()

In [43]:
companies=[]
for industry in industries:
    companies.append(s_p_500[(s_p_500.GICS_Sector==industry)].head(3))

In [44]:
companies = pd.concat(companies, axis=0)
# companies.Ticker_symbol = companies.Ticker_symbol.apply(lambda x: x.replace('-', ''))

In [45]:
companies

,Ticker_symbol,Security,SEC_filings,GICS_Sector,GICS_Sub_Industry,Address_of_Headquarters,Date_first_added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",2016-05-03,1144215
15,ALK,Alaska Air Group Inc,reports,Industrials,Airlines,"Seattle, Washington",2016-05-13,766421
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
9,AET,Aetna Inc,reports,Health Care,Managed Health Care,"Hartford, Connecticut",1976-06-30,1122304
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877
6,ADBE,Adobe Systems Inc,reports,Information Technology,Application Software,"San Jose, California",NaN,796343
7,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449
26,AMZN,Amazon.com Inc,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724
54,AN,AutoNation Inc,reports,Consumer Discretionary,Specialty Stores,"Fort Lauderdale, Florida",NaN,350698
8,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",NaN,874761
18,LNT,Alliant Energy Corp,reports,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541
27,AEE,Ameren Corp,reports,Utilities,MultiUtilities,"St. Louis, Missouri",1991-09-19,1002910
10,AFL,AFLAC Inc,reports,Financials,Life & Health Insurance,"Columbus, Georgia",NaN,4977
11,AMG,Affiliated Managers Group Inc,reports,Financials,Asset Management & Custody Banks,"Beverly, Massachusetts",2014-07-01,1004434
22,ALL,Allstate Corp,reports,Financials,Property & Casualty Insurance,"Northfield Township, Illinois",NaN,899051
13,APD,Air Products & Chemicals Inc,reports,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969
16,ALB,Albemarle Corp,reports,Materials,Specialty Chemicals,"Baton Rouge, Louisiana",2016-07-01,915913
57,AVY,Avery Dennison Corp,reports,Materials,Paper Packaging,"Glendale, California",1987-12-31,8818
25,MO,Altria Group Inc,reports,Consumer Staples,Tobacco,"Richmond, Virginia",NaN,764180
47,ADM,Archer-Daniels-Midland Co,reports,Consumer Staples,Agricultural Products,"Decatur, Illinois",1981-07-29,7084
78,BF-B,Brown-Forman Corporation,reports,Consumer Staples,Distillers & Vintners,"Louisville, Kentucky",1982-10-31,14693
32,AMT,American Tower Corp A,reports,Real Estate,Specialized REITs,"Boston, Massachusetts",2007-11-19,1053507
44,AIV,Apartment Investment & Mgmt,reports,Real Estate,REITs,"Denver, Colorado",NaN,922864
56,AVB,"AvalonBay Communities, Inc.",reports,Real Estate,Residential REITs,"Arlington, Virginia[3]",2007-01-10,915912
39,APC,Anadarko Petroleum Corp,reports,Energy,Oil & Gas Exploration & Production,"The Woodlands, Texas",NaN,773910
43,APA,Apache Corporation,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",NaN,6769
58,BHI,Baker Hughes Inc,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",NaN,808362
51,T,AT&T Inc,reports,Telecommunications Services,Integrated Telecommunications Services,"Dallas, Texas",1983-11-30,732717
94,CTL,CenturyLink Inc,reports,Telecommunications Services,Integrated Telecommunications Services,"Monroe, Louisiana",NaN,18926
203,FTR,Frontier Communications,reports,Telecommunications Services,Integrated Telecommunications Services,"Stamford, Connecticut",NaN,20520

In [46]:
a = web.DataReader('MMM', data_source='google', start='1/1/2014', end='4/14/2016')
a

              Open    High     Low   Close   Volume
Date
2014-01-02  138.05  139.00  137.61  138.13  3053521
2014-01-03  138.37  138.88  138.03  138.45  2133336
2014-01-06  138.75  139.29  137.48  137.63  2712055
2014-01-07  137.45  138.20  137.13  137.65  2525529
2014-01-08  137.48  137.75  136.34  136.63  3122674
2014-01-09  137.02  137.43  136.20  136.45  2539952
2014-01-10  136.95  137.19  135.68  136.18  3254329
2014-01-13  135.81  137.06  134.57  134.68  2633428
2014-01-14  135.11  137.41  134.74  137.41  2480170
2014-01-15  137.77  138.82  137.56  138.44  3043498
2014-01-16  137.74  138.50  137.63  138.16  1792677
2014-01-17  137.98  138.75  136.98  137.31  2335555
2014-01-21  138.45  138.95  136.30  136.99  2705751
2014-01-22  137.35  137.49  136.33  136.48  2118966
2014-01-23  135.64  135.66  133.95  134.71  2720254
2014-01-24  133.73  133.73  130.22  130.22  3784000
2014-01-27  130.02  130.59  128.66  128.96  3313315
2014-01-28  129.43  130.01  129.10  129.81  2734536
2014-01-29  130.10  131.27  129.00  130.25  3585136
2014-01-30  129.96  129.96  126.53  128.05  4103794
2014-01-31  126.60  129.20  126.42  128.19  3715366
2014-02-03  128.22  128.59  123.61  123.90  4245704
2014-02-04  126.09  127.64  124.12  126.72  7423602
2014-02-05  128.01  128.76  125.92  127.36  4960130
2014-02-06  127.60  129.20  127.10  128.90  3828431
2014-02-07  129.57  130.39  128.81  130.33  3271820
2014-02-10  129.65  130.41  129.02  129.70  3317360
2014-02-11  129.70  131.49  129.65  130.98  2604237
2014-02-12  130.34  131.00  130.01  130.44  2100646
2014-02-13  129.29  130.38  128.66  130.14  2850607
...            ...     ...     ...     ...      ...
2016-03-03  159.41  159.69  158.51  159.38  1926039
2016-03-04  159.46  160.29  158.92  160.07  1766326
2016-03-07  159.98  160.57  158.17  160.57  2011790
2016-03-08  159.40  160.61  159.35  160.20  2010709
2016-03-09  160.50  160.78  159.52  160.09  1883175
2016-03-10  160.77  160.80  158.28  159.89  1874660
2016-03-11  161.14  162.05  160.65  161.88  1696342
2016-03-14  161.61  162.77  161.00  161.81  1747318
2016-03-15  160.16  162.50  159.35  162.41  1828242
2016-03-16  161.96  163.30  161.52  162.89  1922794
2016-03-17  163.16  164.36  162.84  163.75  2789976
2016-03-18  164.15  165.33  163.90  165.33  5848589
2016-03-21  165.05  165.31  164.41  164.84  2093378
2016-03-22  164.50  165.50  164.39  164.91  2139903
2016-03-23  164.60  164.99  163.46  164.27  2298425
2016-03-24  163.68  164.54  163.05  164.46  1866437
2016-03-28  164.93  166.65  164.58  166.28  2336707
2016-03-29  164.93  164.99  163.12  164.39  2525004
2016-03-30  165.37  167.22  165.16  166.75  2195352
2016-03-31  166.75  167.50  166.50  166.63  1776865
2016-04-01  165.63  167.74  164.79  167.53  2011569
2016-04-04  167.11  167.49  165.92  166.40  2022041
2016-04-05  165.18  166.55  164.65  165.81  1616112
2016-04-06  165.34  167.08  164.84  166.81  2092183
2016-04-07  165.88  167.23  165.25  167.16  2721884
2016-04-08  167.71  167.99  166.10  166.63  1729301
2016-04-11  167.12  167.96  166.57  166.59  1517113
2016-04-12  167.01  168.40  166.93  168.03  1636468
2016-04-13  168.47  168.90  167.71  168.59  1545911
2016-04-14  169.00  169.00  167.88  168.16  1213400

[575 rows x 5 columns]

In [57]:
prices = []
for symbol in companies.Ticker_symbol:
    a = web.DataReader(symbol, data_source='yahoo', start='1/1/2014', end=date.today().strftime('%m/%d/%Y'))
    a['symbol']=symbol
    prices.append(a)
    sleep(1)

In [64]:
prices = pd.concat(prices, axis=0)

In [65]:
prices.to_csv('daily_quotes.csv')